@import "../../styles.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

.bar-chart-container {
    border-width: 1px;
    border-style: solid;
    border-color: $blue5;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: $white2;
    border-radius: 5px;
}

.chart-column {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    span {
       font-size: 20px; 
       padding-bottom: 10px;
    }
    
}

.chart-bar {
    border-width: 1px;
    border-style: solid;
    border-color: $blue5;
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

}

#mortgage-bar {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, $blue3 20%, $blue1 100%);
}

#rent-bar {
    background: rgb(53,53,53);
    background: linear-gradient(0deg, $blue5 20%, $blue4 100%);
}

.bar-labels {
    height: 50px;
    background-color: $white2;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
       font-size: 20px; 
    }
    
}