@import "../../styles.scss";

.bar-chart-container {
    border-width: 1px;
    border-style: solid;
    border-color: $blue5;
    width: 600px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-color: $white1
}

.chart-column {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    span {
       font-size: 20px; 
       padding-bottom: 10px;
    }
    
}

.chart-bar {
    border-width: 1px;
    border-style: solid;
    border-color: $blue5;
    border-bottom: none;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    .bar-label {
        transform: translate(0px, 150%);
        font-size: 20px;
    }
}

#mortgage-bar {
    background-color: $blue2;
}

#rent-bar {
    background-color: $blue4;
}

.bar-labels {
    height: 50px;
    background-color: $white1;
    border-width: 1px;
    border-style: solid;
    border-color: $blue5;
    border-top: none;
}