<div class="bar-chart-container">

    <div class="chart-column">
        <span *ngIf="buyPrice" class="chart-price">${{buyPrice}}</span>
        <div class="chart-bar" id="mortgage-bar" [ngStyle]="{ 'height': buyBarHeight }">   
        </div>
    </div>

    <div class="chart-column">
        <span *ngIf="rentPrice" class="chart-price">${{rentPrice}}</span>
        <div class="chart-bar" id="rent-bar" [ngStyle]="{ 'height': rentBarHeight }"> 
        </div>
    </div>

</div>
<div class="bar-labels">
    <span class="bar-label">Buy</span>
    <span class="bar-label">Rent</span>
</div>