<div class="comparison-form-container">
    <form [formGroup]="pricingForm" class="pricingForm">

        <div class="buying-prices">
            <div class="userInputFields">
                <mat-form-field [hideRequiredMarker]="true">
                    <mat-label>Home Price</mat-label>
                    <input matInput type="number" formControlName="buyPrice" placeholder="250000" matTooltip="Info about the action">
                    <mat-error>Required</mat-error>
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="true">
                    <mat-label>Down Payment</mat-label>
                    <input matInput type="number" formControlName="downPayment"  placeholder="20000">
                    <mat-error>Required</mat-error>
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="true">
                    <mat-label>Loan Interest Rate</mat-label>
                    <input matInput type="number" formControlName="loanInterestRate"  placeholder="5">
                    <mat-error>Required</mat-error>
                </mat-form-field>

                <mat-form-field [hideRequiredMarker]="true">
                    <mat-label>Loan Term</mat-label>
                    <mat-select formControlName="loanTerm">
                        <mat-option *ngFor="let term of loanTerms" [value]="term">{{term}}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>
                        <i class="fa-solid fa-circle-info pointer-events" matTooltip="Info about the action"> </i>
                    </mat-icon>
                </mat-form-field>

                <button mat-flat-button class="breakdownButton" (click)="toggleBreakdown()">Show Breakdown</button>
            </div>

            <div class="calculatedFields" *ngIf="showBreakdown">
                <mat-form-field>
                    <mat-label>Mortgage Payment</mat-label>
                    <input matInput type="number" formControlName="mortgagePayment">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Property Tax</mat-label>
                    <input matInput type="number" formControlName="propertyTax">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Maintenance Cost</mat-label>
                    <input matInput type="number" formControlName="maintenanceCost">
                    <mat-icon matSuffix>
                        <i class="fa-solid fa-circle-info"></i>
                    </mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>PMI</mat-label>
                    <input matInput type="number" formControlName="privateMortgageInsurance">
                    <mat-icon matSuffix>
                        <i class="fa-solid fa-circle-info"></i>
                    </mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Home Insurance</mat-label>
                    <input matInput type="number" formControlName="homeInsurance">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Opportunity Cost</mat-label>
                    <input matInput type="number" formControlName="opportunityCost">
                    <mat-icon matSuffix>
                        <i class="fa-solid fa-circle-info"></i>
                    </mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Equity</mat-label>
                    <input matInput type="number" formControlName="equity">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Property Appreciation</mat-label>
                    <input matInput type="number" formControlName="appreciation">
                    <mat-icon matSuffix>
                        <i class="fa-solid fa-circle-info"></i>
                    </mat-icon>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Total Monthly Cost</mat-label>
                    <input matInput type="number" formControlName="totalMonthlyCost">
                </mat-form-field>
            </div>
        </div>

        <div class="renting-prices">

            <mat-form-field [hideRequiredMarker]="true">
                <mat-label>Rent Price</mat-label>
                <input matInput type="number" formControlName="rentPrice">
                <mat-error>Required</mat-error>
            </mat-form-field>

        </div>
    </form>

    <div class="buttonContainer">
        <button mat-flat-button class="compareButton" (click)="comparePricing()">Compare</button>
    </div>
    
</div>