@import "../../styles.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

.comparison-form-container {
    background-color: $white2;
    width: 600px;
    border-width: 1px;
    border-color: $blue5;
    border-style: solid;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.pricingForm {
    display: flex;

    mat-form-field {
        width: 100%;
    }
}

.buying-prices {
    display: flex;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-color: $blue5;
    border-bottom-style: solid;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
}

.renting-prices {
    display: flex;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-color: $blue5;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-color: $blue5;
    border-left-style: solid;
    padding: 30px;
    width: 50%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.compareButton {
    width: 150px;
    height: 50px;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

mat-error {
    color: red;
}

.userInputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculatedFields {
    padding-top: 20px;
    border-top-style: solid;
    border-top-color: $blue5;
    border-top-width: 1px;
}

.pointer-events {
    pointer-events: auto;
}

.breakdownButton {
    font-size: 12px;
    width: 120px;
    height: 50px;
    margin-bottom: 20px;

}