@import "../styles.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";

* {
    background-color: $blue5;
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue1;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    color: $white1;

    h1 {
        background-color: $blue1;
    }
}

.toolContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}