/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.css";

$blue1: #00a6fb;
$blue2: #0582ca;
$blue3: #006494;
$blue4: #003554;
$blue5: #051923;
$white1: #e4e4e4;
$white2: rgba(245, 245, 245, 0.9);
$black1: #353535;
$black2: rgb(20, 20, 20);

* {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: $black1;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
